body {
  background-color: #1a1a36;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-img {
  max-width: 30%;
  height: auto;
}
