<nav class="app-nav">
  <div class="app-nav__brand">
    <span class="app-nav__logo">Padel Maestro</span>
  </div>

  <% if user_signed_in? %>
    <div class="app-nav__actions">
      <%= link_to "Chatbot", "#", class: "app-nav__link" %>
      <%= link_to "Déconnexion", destroy_user_session_path, data: { turbo_method: :delete }, class: "app-nav__link app-nav__link--logout" %>
    </div>
  <% end %>
</nav>
